<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<welcome-file-list>
		<welcome-file>downloader.jsp</welcome-file>
	</welcome-file-list>
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value/>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>start</servlet-name>
        <servlet-class>ch.chnoch.appengine.bunddownloader.StartPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>start</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>ch.chnoch.appengine.bunddownloader.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cron-download</servlet-name>
        <servlet-class>ch.chnoch.appengine.bunddownloader.CronDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cron-download</servlet-name>
        <url-pattern>/cron-download</url-pattern>
    </servlet-mapping>
</web-app>